/** @format */
@import url("https://fonts.googleapis.com/css2?family=News+Cycle&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/** @format */
/** @format */
/** @format */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: #212121 #333333;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background: #333333;
}

*::-webkit-scrollbar-thumb {
  background-color: #aaaaaa;
  border-radius: 20px;
  border: 3px solid #333333;
}

:focus {
  border: 3px solid #b40f53;
}

/** @format */
/** @format */
nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 72px;
  font-size: 1rem;
  background-color: #212121;
  display: -ms-grid;
  display: grid;
  border: 1px solid #dddddd;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
      grid-template-areas: "nav1 nav2 nav3 nav4 nav5";
}

nav .nav-link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #b40f53;
  height: 100%;
  font-family: "Roboto Mono", monospace;
  border-right: 1px solid #dddddd;
}

@media (min-width: 992px) {
  nav .nav-link {
        grid-template-areas: "icon";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100px;
  }
}

nav .nav-link a {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  text-decoration: none;
  color: #dddddd;
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  padding-left: 1em;
  padding-right: 1em;
}

@media (min-width: 992px) {
  nav .nav-link a {
    font-size: 2rem;
    padding: 0;
  }
}

nav .nav-link a i {
  font-size: 1.5rem;
}

@media (min-width: 600px) {
  nav .nav-link a i {
    font-size: 1.5rem;
  }
}

nav .nav-link a p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lbl;
  text-align: center;
  font-size: 0.7rem;
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  nav .nav-link a p {
    font-size: 0.7rem;
  }
}

@media (min-width: 992px) {
  nav .nav-link a p {
    display: none;
  }
}

nav .nav-link a:hover, nav .nav-link a:focus {
  color: #53b40f;
  cursor: pointer;
}

nav .nav-link a:active {
  border: none;
}

nav #nav-home {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: nav1;
}

nav #nav-about-me {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: nav2;
}

nav #nav-projects {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: nav4;
}

nav #nav-contact {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: nav5;
}

nav #nav-tech {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav3;
}

@media (max-width: 600px) {
  nav #terminal-wrapper {
    display: none;
  }
}

@media (min-width: 600px) {
  nav #terminal-wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  nav {
    font-size: 2rem;
    -ms-grid-columns: (100px)[5] auto;
        grid-template-columns: repeat(5, 100px) auto;
        grid-template-areas: "nav1 nav2 nav3 nav4 nav5 term";
  }
  nav #terminal-wrapper {
    display: block;
    -ms-grid-row: 1;
    -ms-grid-column: 6;
    grid-area: term;
    padding: 1rem;
  }
  nav #terminal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #53b40f;
    background-color: #333333;
    border: 1px solid #dddddd;
    font-family: "Roboto Mono", monospace;
    font-size: 1.75rem;
    max-width: 442px;
  }
  nav #text-output {
    padding-left: 10px;
  }
  nav #cursor {
    background-color: #53b40f;
    height: 1.75rem;
    width: 1rem;
    -webkit-animation: cursor-blink;
            animation: cursor-blink;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
  @-webkit-keyframes cursor-blink {
    0% {
      visibility: block;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: block;
    }
    75% {
      visibility: hidden;
    }
  }
  @keyframes cursor-blink {
    0% {
      visibility: block;
    }
    25% {
      visibility: hidden;
    }
    50% {
      visibility: block;
    }
    75% {
      visibility: hidden;
    }
  }
}

/** @format */
/** @format */
/** @format */
#showcase {
  background: #333333 url("/images/lake.jpg") no-repeat center center/cover;
  color: #dddddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  width: auto;
  padding: 0 3rem;
  line-height: 1.3;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#showcase h1 {
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

@media (min-width: 600px) {
  #showcase h1 {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  #showcase h1 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  #showcase h1 {
    font-size: 6rem;
  }
}

@media (min-width: 1200px) {
  #showcase h1 {
    font-size: 7rem;
  }
}

#showcase h2 {
  font-family: "Roboto Mono", monospace;
  color: #aaaaaa;
  font-weight: 300;
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 600px) {
  #showcase h2 {
    font-size: 3rem;
  }
}

@media (min-width: 992px) {
  #showcase h2 {
    font-size: 4rem;
  }
}

#showcase p {
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
}

@media (min-width: 600px) {
  #showcase p {
    font-size: 1.5rem;
  }
}

/** @format */
/** @format */
/** @format */
#about-me {
  background-color: #333333;
  color: #dddddd;
  font-family: "Noto Sans", sans-serif;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
      grid-template-areas: "title" "pic" "txt" "tech";
}

@media (min-width: 768px) {
  #about-me {
        grid-template-areas: "title txt" "pic txt" "pic txt" "tech tech";
  }
}

@media (min-width: 992px) {
  #about-me {
        grid-template-areas: "title txt" "pic txt" "pic tech";
  }
}

#about-me h1 {
  font-family: "News Cycle", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #dddddd;
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  #about-me h1 {
    font-size: 3rem;
  }
}

#about-me #picture {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: pic;
}

#about-me #picture img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px solid #aaaaaa;
}

@media (min-width: 768px) {
  #about-me #picture img {
    max-width: 300px;
  }
}

@media (min-width: 992px) {
  #about-me #picture img {
    max-width: 400px;
    margin: 0 2rem 2rem 2rem;
  }
}

#about-me .badge {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: "icon" "lbl";
  margin: 0;
  padding: 1rem;
  overflow: hidden;
}

#about-me .badge i {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: icon;
  font-size: 3rem;
}

#about-me .badge p {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: lbl;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

#about-me #text-about-me {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: txt;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  text-align: justify;
  padding: 1rem;
}

@media (min-width: 992px) {
  #about-me #text-about-me {
    border-left: 1px solid #dddddd;
  }
}

#about-me #technologies {
  background-color: #212121;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: tech;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "title title title" "one two three" "four five six";
  width: 100%;
  height: 100%;
  padding: 1rem;
  border-top: 1px solid #aaaaaa;
}

@media (min-width: 768px) {
  #about-me #technologies {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "title title title title title title" "one two three four five six";
  }
}

@media (min-width: 992px) {
  #about-me #technologies {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "title title title" "one two three" "four five six";
    border-left: 1px solid #dddddd;
  }
}

@media (min-width: 1200px) {
  #about-me #technologies {
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas: "title title title title title title" "one two three four five six";
  }
}

#about-me #technologies #tech-heading {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
  font-size: 2rem;
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
}

@media (min-width: 600px) {
  #about-me #technologies #tech-heading {
    font-size: 3rem;
  }
}

#about-me #technologies #html-badge {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: one;
}

#about-me #technologies #html-badge i {
  color: #e44d26;
}

#about-me #technologies #css-badge {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: two;
}

#about-me #technologies #css-badge i {
  color: #2965f1;
}

#about-me #technologies #js-badge {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: four;
}

#about-me #technologies #js-badge i {
  color: #f4e21e;
}

#about-me #technologies #git-badge {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: six;
}

#about-me #technologies #git-badge i {
  color: #f05033;
}

#about-me #technologies #sass-badge {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: three;
}

#about-me #technologies #sass-badge i {
  color: #cf649a;
}

#about-me #technologies #python-badge {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: five;
}

#about-me #technologies #python-badge img {
  width: 48px;
  height: auto;
}

/** @format */
/** @format */
/** @format */
#projects {
  background-color: #333333;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "title" "gallery";
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#projects h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  -ms-grid-column-align: center;
      justify-self: center;
  font-family: "News Cycle", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #dddddd;
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  #projects h1 {
    font-size: 3rem;
  }
}

#projects .gallery {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: gallery;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[auto-fit];
      grid-template-columns: repeat(auto-fit, auto);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3rem;
}

/** @format */
.card {
  background-color: #212121;
  border: 1px solid #dddddd;
  margin: 1rem;
  max-width: 360px;
}

.card:hover {
  border: 1px solid #0f53b4;
}

.card h2 {
  font-family: "Roboto Mono", monospace;
  color: #dddddd;
  font-weight: normal;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.card p {
  font-family: "Noto Sans", sans-serif;
  color: #dddddd;
  padding-bottom: 1rem;
}

.card a {
  text-decoration: none;
  color: #53b40f;
  font-family: "Roboto Mono", monospace;
}

.card .img-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card i {
  color: #b40f53;
  font-size: 10rem;
}

.card .thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-info {
  padding: 1rem;
}

/** @format */
/** @format */
/** @format */
#contact {
  background-color: #212121;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#contact h1 {
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  color: #dddddd;
  font-size: 2rem;
  margin: 1rem 0;
}

@media (min-width: 600px) {
  #contact h1 {
    font-size: 3rem;
  }
}

#contact #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  min-width: 300px;
  background-color: #333333;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid #dddddd;
  margin-bottom: 2rem;
}

#contact #contact-form label {
  font-family: "Roboto Mono", monospace;
  color: #dddddd;
  font-size: 1.35rem;
}

#contact #contact-form .input-field {
  background-color: #212121;
  color: #dddddd;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: 1px solid #dddddd;
  outline: none;
}

#contact #contact-form .input-field:focus {
  border: 1px solid #0f53b4;
}

#contact #contact-form textarea {
  height: 150px;
  font-size: 1rem;
}

#contact #contact-form #submit-btn {
  background-color: #0f53b4;
  color: #dddddd;
  margin-top: 1rem;
  font-family: "Roboto Mono", monospace;
  font-size: 2rem;
  border: 1px solid #dddddd;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#contact #contact-form #submit-btn:hover, #contact #contact-form #submit-btn:focus {
  background-color: #53b40f;
  color: #212121;
  border: 1px solid #dddddd;
}

/** @format */
/** @format */
/** @format */
#footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dddddd;
  background-color: #333333;
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#footer i {
  font-size: 2rem;
  margin-right: 1rem;
}

#footer p {
  font-size: 1rem;
  margin: 0 0.5rem;
}

@media (min-width: 768px) {
  #footer p {
    font-size: 1.5rem;
  }
}

#footer a {
  color: #dddddd;
  text-decoration: none;
}

#footer a:hover {
  color: #0f53b4;
}

/** @format */
.btn-primary, .btn-secondary {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;
}

.btn-primary:hover, .btn-secondary:hover {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
}

.btn-primary {
  background-color: #1369e3;
  color: #dddddd;
}

.btn-secondary {
  background-color: #53b40f;
  color: #dddddd;
}

/** @format */
@media (max-width: 700px) {
  .showcase {
    height: 400px;
  }
  .showcase-content {
    text-align: center;
  }
  .showcase-content img {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */