/** @format */
/** @format */
/** @format */
.btn {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  border: 1px solid #dddddd;
  padding: 1rem;
  color: #dddddd;
  background-color: #0f53b4;
  text-align: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 375px) {
  .btn {
    font-size: 1.5rem;
  }
}

.btn:hover {
  background-color: #53b40f;
  color: #212121;
}

.btn:disabled {
  background-color: #333333;
  color: #aaaaaa;
  border-color: #aaaaaa;
}

.btn-secondary {
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  border: 1px solid #dddddd;
  padding: 1rem;
  color: #dddddd;
  text-align: center;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(0, auto))[2];
      grid-template-columns: repeat(2, minmax(0, auto));
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (min-width: 375px) {
  .btn-secondary {
    font-size: 1.5rem;
  }
}

.btn-secondary:hover, .btn-secondary:focus {
  background-color: #53b40f;
  color: #212121;
}

.btn-secondary:disabled {
  background-color: #212121;
  color: #aaaaaa;
  border-color: #aaaaaa;
}

/** @format */
/** @format */
/** @format */
.hidden {
  display: none;
}

#about-me-section {
  background-color: #212121;
  color: #dddddd;
  font-family: "Noto Sans", sans-serif;
  display: -ms-grid;
  display: grid;
  row-gap: 1rem;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  justify-items: center;
  padding: 0 1rem 2rem 1rem;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "anchor anchor" "title title" "pic   pic" "txt   txt" "act   act" "cta   hook";
}

@media (min-width: 768px) {
  #about-me-section {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 2rem;
            column-gap: 2rem;
        grid-template-areas: "anchor anchor" "title  title" "pic    txt" "act    act" "cta    hook";
  }
}

#about-me-section h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: "News Cycle", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #dddddd;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
  margin-top: 0;
}

@media (min-width: 600px) {
  #about-me-section h1 {
    font-size: 3rem;
  }
}

#about-me-section picture {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (min-width: 768px) {
  #about-me-section picture {
    -ms-grid-column-align: end;
        justify-self: end;
  }
}

#about-me-section picture img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border: 1px solid #aaaaaa;
}

@media (min-width: 768px) {
  #about-me-section picture img {
    max-width: 315px;
  }
}

#about-me-section #about-me {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: anchor;
  position: relative;
  font-size: 0;
  top: -72px;
  margin: 0;
  padding: 0;
}

#about-me-section #text-about-me {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: txt;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 300px;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #about-me-section #text-about-me {
    -ms-grid-column-align: start;
        justify-self: start;
  }
}

#about-me-section p > span {
  color: #53b40f;
  text-transform: uppercase;
}

#about-me-section #call-to-action {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: act;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  max-width: 300px;
}

@media (min-width: 375px) {
  #about-me-section #call-to-action {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  #about-me-section #call-to-action {
    max-width: 450px;
  }
}

#about-me-section .cta {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: cta;
  -ms-grid-column-align: end;
      justify-self: end;
}

#about-me-section #cta-btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

#about-me-section #cta-hook {
  -ms-grid-row: 6;
  -ms-grid-column: 2;
  grid-area: hook;
  -ms-grid-column-align: start;
      justify-self: start;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (max-width: 463px) {
  #about-me-section #cta-hook {
    padding: 1rem 2rem;
  }
}

#caption {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
  font-style: italic;
}

@media (min-width: 768px) {
  #caption {
    font-size: 1rem;
  }
}

/** @format */
/** @format */
/** @format */
.hidden {
  display: none;
}

#skills-section {
  background-color: #333333;
  color: #dddddd;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
      grid-template-areas: "anchor" "title" "container";
  width: 100%;
  height: 100%;
}

#skills-section h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: "News Cycle", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #dddddd;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
  text-align: center;
}

@media (min-width: 600px) {
  #skills-section h1 {
    font-size: 3rem;
  }
}

#skills-section #skills {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: anchor;
  position: relative;
  font-size: 0;
  top: -72px;
  margin: 0;
  padding: 0;
}

#skills-section .badges {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: container;
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: center;
      justify-self: center;
  grid-auto-flow: dense;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 6rem;
}

@media (min-width: 768px) {
  #skills-section .badges {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

#skills-section .skill {
  -ms-grid-column-align: center;
      justify-self: center;
}

#skills-section .skill img {
  height: 4rem;
}

#skills-section .skill i {
  font-size: 5rem;
}

#skills-section .skill .fa-js {
  color: #f4e21e;
}

#skills-section .wide {
  grid-column: span 2;
}

#skills-section .wide img {
  height: 3rem;
}

@media (min-width: 768px) {
  #skills-section .wide {
    grid-column: span 2;
  }
}

#skills-section .fixed-2 img {
  height: 3rem;
}

/** @format */
/** @format */
/** @format */
.hidden {
  display: none;
}

#projects-section {
  background-color: #212121;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  justify-items: center;
      grid-template-areas: "anchor" "title" "gallery";
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#projects-section #projects {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: anchor;
  position: relative;
  font-size: 0;
  top: -71px;
  margin: 0;
  padding: 0;
}

#projects-section h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: title;
  font-family: "News Cycle", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  color: #dddddd;
  padding: 0;
  margin: 0;
  margin-bottom: 0.5rem;
}

@media (min-width: 600px) {
  #projects-section h1 {
    font-size: 3rem;
  }
}

#projects-section .gallery {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: gallery;
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  padding-bottom: 2rem;
}

@media (min-width: 768px) {
  #projects-section .gallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

/** @format */
.card {
  background-color: #333333;
  border: 1px solid #dddddd;
  margin: 0 1rem;
  max-width: 360px;
  text-decoration: none;
  cursor: pointer;
}

.card:hover {
  border-color: #0f53b4;
}

.card h2 {
  font-family: "Roboto Mono", monospace;
  color: #dddddd;
  font-weight: normal;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}

.card p {
  font-family: "Noto Sans", sans-serif;
  color: #dddddd;
  padding-bottom: 1rem;
}

.card a {
  text-decoration: none;
  color: #53b40f;
  font-family: "Roboto Mono", monospace;
}

.card .img-wrapper {
  width: 100%;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card i {
  color: #53b40f;
  font-size: 10rem;
}

.card img {
  width: 10rem;
  height: auto;
}

.card .thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}

.card .card-info {
  padding: 1rem;
}

.card .link {
  color: #53b40f;
}

.teaser {
  cursor: default;
}

.teaser:hover {
  border-color: #dddddd;
}

/** @format */
/** @format */
/** @format */
.hidden {
  display: none;
}

#contact-section {
  background-color: #333333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

#contact-section #contact {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: anchor;
  position: relative;
  font-size: 0;
  top: -71px;
  margin: 0;
  padding: 0;
}

#contact-section h1 {
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  color: #dddddd;
  font-size: 2rem;
  margin: 1rem 0;
}

@media (min-width: 600px) {
  #contact-section h1 {
    font-size: 3rem;
  }
}

#contact-section #contact-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50vw;
  max-width: 650px;
  min-width: 300px;
  background-color: #212121;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid #dddddd;
  margin-bottom: 2rem;
}

#contact-section #contact-form label {
  font-family: "Roboto Mono", monospace;
  color: #dddddd;
  font-size: 1rem;
}

@media (min-width: 768px) {
  #contact-section #contact-form label {
    font-size: 1.35rem;
  }
}

#contact-section #contact-form .input-field {
  background-color: #333333;
  color: #dddddd;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  border: 1px solid #dddddd;
  outline: none;
}

#contact-section #contact-form .input-field:focus {
  border: 1px solid #0f53b4;
}

#contact-section #contact-form textarea {
  height: 150px;
  font-size: 1rem;
  margin-bottom: 1rem;
}

#contact-section #contact-form .g-recaptcha {
  margin-top: 1rem;
}

@media (max-width: 600px) {
  #contact-section #contact-form .g-recaptcha {
    transform: scale(0.76);
    -webkit-transform: scale(0.76);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
  }
}

#contact-section #contact-form input[type="submit"] {
  margin-top: 1rem;
  font-size: 2rem;
  cursor: pointer;
}

/** @format */
/** @format */
/** @format */
.hidden {
  display: none;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #dddddd;
  background-color: #212121;
  font-family: "Noto Sans", sans-serif;
  padding: 1rem;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

footer i {
  font-size: 2rem;
  margin-right: 1rem;
}

footer p {
  font-size: 0.7rem;
  margin: 0 0.5rem;
}

@media (min-width: 375px) {
  footer p {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  footer p {
    font-size: 1.5rem;
  }
}

footer a {
  color: #dddddd;
  text-decoration: none;
}

footer a:hover {
  color: #53b40f;
}
/*# sourceMappingURL=style.css.map */