/** @format */

@import "vars";
@import "defaults";

#about-me-section {
  background-color: $bg;
  color: $text-light;
  font-family: $font-3;
  display: grid;
  row-gap: 1rem;
  column-gap: 1rem;
  justify-items: center;
  padding: 0 1rem 2rem 1rem;

  @include section-borders;

  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "anchor anchor"
    "title title"
    "pic   pic"
    "txt   txt"
    "act   act"
    "cta   hook";

  @include bp(medium) {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas:
      "anchor anchor"
      "title  title"
      "pic    txt"
      "act    act"
      "cta    hook";
  }

  h1 {
    grid-area: title;
    @include h1-style;
    text-align: center;
    margin-top: 0;
  }

  picture {
    grid-area: pic;

    justify-self: center;
    align-self: center;
    
    @include bp(medium) {
      justify-self: end;
    }
    
    img {
      width: 100%;
      max-width: 300px;
      height: auto;
      border: 1px solid $text-light-alt;
      justify-self: center;

      @include bp(medium) {
        max-width: 315px;
      }
    }
  }

  #about-me {
    grid-area: anchor;
    position: relative;
    font-size: 0;
    top: -72px;
    margin: 0;
    padding: 0;
  }

  #text-about-me {
    grid-area: txt;
    align-self: center;
    max-width: 300px;
    font-size: 1rem;
    text-align: center;

    @include bp(medium) {
      justify-self: start;
      text-align: left;
    }
  }

  p > {
    span {
      color: $color-2;
      text-transform: uppercase;
    }
  }

  #call-to-action {
    grid-area: act;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    max-width: 300px;

    @media (min-width: 375px) {
      max-width: 320px;
    }

    @include bp(medium) {
      max-width: 450px;
    }
  }

  .cta {
    grid-area: cta;
    justify-self: end;
  }

  #cta-btn {
    width: fit-content;
  }

  #cta-hook {
    grid-area: hook;
    justify-self: start;
    width: fit-content;
    height: fit-content;

    @media (max-width: 463px) {
      padding: 1rem 2rem;
    }
  }
}

#caption {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  text-align: center;
  font-style: italic;

  @include bp(medium) {
    font-size: 1rem;
  }
}
