/** @format */

.card {
  background-color: $bg-alt;
  border: 1px solid $text-light;
  margin: 0 1rem;
  max-width: 360px;
  cursor: pointer;

  h2 {
    font-family: $font-2;
    color: $text-light;
    font-weight: normal;
    font-size: 1.5rem;
    padding-bottom: 1rem;
  }

  p {
    font-family: $font-3;
    color: $text-light;
    padding-bottom: 1rem;
  }

  a {
    text-decoration: none;
    color: $color-2;
    font-family: $font-2;
  }

  .img-wrapper {
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  i {
    color: $color-2;
    font-size: 10rem;
  }

  .thumbnail {
    display: block;
    width: 100%;
    height: 180px;
    object-fit: cover;
  }

  .card-info {
    padding: 1rem;
  }
}
