/** @format */
@import "vars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // scrollbar-width: thin;
  scrollbar-color: var(--alt-bg-color) var(--bg-color);
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 1rem;
}
*::-webkit-scrollbar-track {
  background: var(--bg-color);
}
*::-webkit-scrollbar-thumb {
  background-color: var(--alt-text-light);
  border-radius: 20px;
  border: 3px solid var(--bg-color);
}

:focus {
  border: 3px solid var(--color-3);
}

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return var(--text-color-dark);
  } @else {
    @return var(--text-light);
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
