/** @format */

@import "vars";
@import "defaults";

#contact {
  background-color: $bg-alt;
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;

  @include section-borders;

  #contact-anchor {
    grid-area: anchor;
    position: relative;
    font-size: 0;
    top: -72px;
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: $font-1;
    font-weight: 400;
    color: $text-light;
    font-size: 2rem;
    margin: 1rem 0;

    @include bp(small) {
      font-size: 3rem;
    }
  }

  #contact-form {
    display: flex;
    flex-direction: column;
    width: 50vw;
    min-width: 300px;
    background-color: $bg;
    padding: 1rem 2rem 2rem 2rem;
    border: 1px solid $text-light;
    margin-bottom: 2rem;

    label {
      font-family: $font-2;
      color: $text-light;
      font-size: 1.35rem;
    }

    .input-field {
      background-color: $bg-alt;
      color: $text-light;
      font-family: $font-3;
      font-size: 1rem;
      padding: 0.75rem 1.25rem;
      margin: 0.5rem 0;
      border: 1px solid $text-light;
      outline: none;

      &:focus {
        border: 1px solid $color-1;
      }
    }

    textarea {
      height: 150px;
      font-size: 1rem;
    }

    #submit-btn {
      background-color: $color-1;
      color: $text-light;
      margin-top: 1rem;
      font-family: $font-2;
      font-size: 2rem;
      border: 1px solid $text-light;
      transition-duration: 0.4s;

      &:hover,
      &:focus {
        background-color: $color-2;
        color: $text-dark;
        border: 1px solid $text-light;
      }
    }
  }
}
