/** @format */

@mixin h1-style {
  font-family: $font-1;
  font-size: 2rem;
  font-weight: 400;
  color: $text-light;

  margin-bottom: 0.5rem;

  @include bp(small) {
    font-size: 3rem;
  }
}

@mixin section-borders {
  border-bottom: 1px solid $text-light;
  border-left: 1px solid $text-light;
  border-right: 1px solid $text-light;
}
