/** @format */

details {
  margin-top: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  justify-self: center;
  ::-webkit-details-marker {
    display: none;
  }

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-1;
    color: $text-light;
    fill: $text-light;
    font-size: 2rem;
    background-color: $bg;
    border: 1px solid $text-light;
    padding: 0.5rem 1rem;
    transition: all 0.3s;
    cursor: pointer;
  }

  &[open] > summary {
    background-color: $color-2;
    color: $text-dark;
    fill: $text-dark;
  }

  &[open] > summary svg {
    transform: rotate(180deg);
  }

  ul {
    list-style-type: none;
    font-family: $font-3;
    background-color: $bg;
    font-size: 1.5rem;

    li {
      @include section-borders;
      padding: 1rem 0.5rem 1rem 1rem;
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 5fr 1fr;
      grid-template-areas:
        "title del"
        "date  del"
        "info  del";
      
      svg {
        grid-area: del;
        justify-self: center;
        align-self: center;
        fill: $text-light;
        cursor: pointer;
      
        &:hover {
          transform: scale(1.1);
          fill: red;
        }
      }
    }
  }
}


.title {
  grid-area: title;
}

.date {
  grid-area: date;
  font-size: 1rem;
}

.info {
  grid-area: info;
}
