/** @format */
@import "vars";
@import "defaults";

footer {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  align-items: center;
  gap: 1rem;

  color: $text-light;
  background-color: $bg;

  font-family: $font-3;
  padding: 1rem;
  @include section-borders;

  svg {
    padding: 0.5rem;
    height: 3rem;
    width: auto;
  }

  p {
    font-size: 1rem;
    margin: 0 0.5rem;

    @include bp(medium) {
      font-size: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    fill: $text-light;

    &:hover, &:focus {
      svg {
        fill: $color-2;
      }
    }
  }
}
