/** @format */
@import "vars";
@import "defaults";

footer {
  display: grid;
  grid-template-columns: repeat(4, max-content);
  grid-template-rows: auto auto;
  justify-content: center;
  place-items: center;
  gap: 1rem;

  color: $text-light;
  background-color: $bg;

  font-family: $font-3;
  padding: 1rem;
  @include section-borders;

  svg {
    height: 2.5rem;
    width: auto;
  }

  p {
    font-size: 1rem;
    grid-column: 1 / 5;
    // margin: 0 0.5rem;

    @include bp(medium) {
      font-size: 1.5rem;
    }
  }

  a {
    text-decoration: none;
    fill: $text-light;

    &:hover, &:focus {
      svg {
        fill: $color-3;
      }
    }
  }

  .linkedin-link {
    fill: #0077b5;
  }

  .fiverr-link {
    fill: #1dbf73;
  }

  .upwork-link {
    fill: #6fda44;
  }

  .abc-link {
    fill: $color-1;
  }
}
