/** @format */
@import "vars";
@import "defaults";

#footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  color: $text-light;
  background-color: $bg;

  font-family: $font-3;
  padding: 1rem;
  @include section-borders;

  i {
    font-size: 2rem;
    margin-right: 1rem;
  }
  p {
    font-size: 1rem;
    margin: 0 0.5rem;

    @include bp(medium) {
      font-size: 1.5rem;
    }
  }

  a {
    color: $text-light;
    text-decoration: none;

    &:hover {
      color: $color-2;
    }
  }
}
