/** @format */

@import "vars";
@import "defaults";

#projects {
  background-color: $bg;

  display: grid;
  justify-items: center;
  grid-template-areas:
    "anchor"
    "title"
    "gallery";

  @include section-borders;

  #projects-anchor {
    grid-area: anchor;
    position: relative;
    font-size: 0;
    top: -71px;
    margin: 0;
    padding: 0;
  }

  h1 {
    grid-area: title;
    @include h1-style;
  }

  .gallery {
    grid-area: gallery;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr;
    padding-bottom: 2rem;

    @include bp(medium) {
      grid-template-columns: 1fr 1fr;
    }
    @include bp(large) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
