/** @format */

@import "vars";
@import "defaults";

#projects {
  background-color: $bg;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "title"
    "gallery";
  // justify-items: center;
  // align-items: center;

  @include section-borders;

  h1 {
    grid-area: title;
    justify-self: center;
    @include h1-style;
  }

  .gallery {
    // overflow-x: auto;
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(auto-fit, 380px);
    // gap: 1.6rem;
    justify-content: center;
    padding-bottom: 3rem;
  }
}
