/** @format */

@import "vars";
@import "defaults";

#projects {
  background-color: $bg;

  display: grid;
  grid-template-areas:
    "title"
    "gallery";

  @include section-borders;

  h1 {
    grid-area: title;
    justify-self: center;
    @include h1-style;
  }

  .gallery {
    grid-area: gallery;
    display: grid;
    grid-template-columns: repeat(auto-fit, auto);
    justify-content: center;
    padding-bottom: 3rem;
  }
}
