/** @format */
@import "vars";
@import "defaults";

header {
  background: $bg-alt url("/images/lake.jpg") no-repeat center center / cover;
  opacity: 1.5;
  color: $text-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  padding: 0 3rem;
  line-height: 1.3;

  @include section-borders;

  h1 {
    font-family: $font-1;
    font-weight: 400;
    font-size: 2.5rem;
    text-align: center;

    @include bp(small) {
      font-size: 4rem;
    }
    @include bp(medium) {
      font-size: 5rem;
    }
    @include bp(large) {
      font-size: 6rem;
    }
    @include bp(very-large) {
      font-size: 7rem;
    }
  }

  h2 {
    font-family: $font-2;
    color: $text-light-alt;
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    text-align: center;

    @include bp(small) {
      font-size: 3rem;
    }
    @include bp(large) {
      font-size: 4rem;
    }
  }

  p {
    font-family: $font-3;
    font-size: 1rem;
    text-align: center;

    @include bp(small) {
      font-size: 1.5rem;
    }
  }
}
