/** @format */
@import "vars";
@import "defaults";

#skills {
  background-color: $bg-alt;
  color: $text-light;
  display: grid;

  @include section-borders;

  grid-template-columns: auto;
  grid-template-areas:
    "anchor"
    "title"
    "container";

  h1 {
    grid-area: title;
    @include h1-style;
    text-align: center;
  }

  width: 100%;
  height: 100%;
  padding: 1rem;

  #skills-anchor {
    grid-area: anchor;
    position: relative;
    font-size: 0;
    top: -72px;
    margin: 0;
    padding: 0;
  }

  .badges {
    grid-area: container;
    display: grid;
    justify-self: center;
    grid-auto-flow: dense;
    justify-content: center;
    gap: 1rem;

    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 6rem;

    @include bp(medium) {
      grid-template-columns: repeat(5, 1fr);
    }
  }

  // .badge {
  //   display: grid;
  //   justify-content: center;
  //   justify-items: center;
  //   align-items: center;
  //   grid-template-areas:
  //     "icon"
  //     "lbl";
  //   margin: 0;
  //   padding: 1rem;
  //   overflow: hidden;

  //   i {
  //     grid-area: icon;
  //     font-size: 3rem;
  //   }

  //   p {
  //     grid-area: lbl;
  //     font-family: $font-2;
  //     font-size: 1rem;
  //   }
  // }

  .skill {
    justify-self: center;
    img {
      height: 4rem;
    }

    i {
      font-size: 5rem;
    }

    .fa-js {
      color: #f4e21e;
    }
  }

  .wide {
    grid-column: span 3;

    @include bp(medium) {
      grid-column: span 2;
    }
  }

  .fixed-2 {
    grid-column: span 2;
  }

  // #css-badge {
  //   i {
  //     color: #2965f1;
  //   }
  // }

  // #js-badge {
  //   i {
  //     color: #f4e21e;
  //   }
  // }

  // #git-badge {
  //   i {
  //     color: #f05033;
  //   }
  // }

  // #sass-badge {
  //   i {
  //     color: #cf649a;
  //   }
  // }

  // #python-badge {
  //   img {
  //     width: 48px;
  //     height: auto;
  //   }
  // }
}
