/** @format */

@function hexToRGB($hex) {
  @return red($hex), green($hex), blue($hex);
}

// Responsiveness media queries
@mixin bp($point) {
  @if $point == very-small {
    @media (max-width: 600px) {
      @content;
    }
  } @else if $point == small {
    @media (min-width: 600px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == very-large {
    @media (min-width: 1200px) {
      @content;
    }
  }
}

// Text colors
$text-light: #dddddd;
$text-light-alt: #aaaaaa;
$text-dark: #212121;
$text-dark-alt: #333333;

// Background colors
$bg: #333333;
$bg-alt: #212121;

// Color scheme
$color-1: #0f53b4;
$color-2: #53b40f;
$color-3: #b40f53;
$color-4: #53b40f;

// Shadows
$shadow: -1px 1px 3px -1px $text-light;

// Fonts
$font-1: "News Cycle", sans-serif;
$font-2: "Roboto Mono", monospace;
$font-3: "Noto Sans", sans-serif;
