/** @format */

@import "vars";
@import "defaults";
@import "navbar";
@import "buttons";
@import "footer";

body {
  margin: 0;
  padding: 0;
}

.thank-you-page {
  box-sizing: border-box;
  color: $text-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
  padding: 2rem;
  background-color: $bg-alt;

  @include section-borders;

  h1 {
    @include h1-style;
    text-align: center;
  }

  p {
    font-family: $font-3;
    font-size: 1.25rem;
    text-align: center;
  }

  a {
    display: grid;
    gap: 1rem;
    grid-template-columns: auto auto;
    grid-template-areas: "icn lnk";
    align-items: center;
    grid-area: lnk;
    margin-top: 0.5rem;

    svg {
      grid-area: icn;
      font-size: 2rem;
      fill: $text-light;
    }
  }
}

.nav-link > p {
  margin: 0;
}

#footer {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  @include section-borders;
  border-top: 1px solid $text-light;
}
